services:
  database:
    image: postgres:16-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: jobFinderApp
    networks:
      - job-finder-app
    volumes:
      - db-volume:/var/lib/postgresql/data
  db-update:
    container_name: db-update
    image: postgres:16-alpine
    profiles:
      - init
    depends_on:
      - database
      - spring-boot-service
    volumes:
      - ./data.sql:/data.sql:ro
      - ./wait-for-it.sh:/wait-for-it.sh
    entrypoint: >
      /bin/sh -c "chmod +x /wait-for-it.sh && /wait-for-it.sh spring-boot-service:8080 --timeout=60 && psql -h database -U admin -d jobFinderApp -f /data.sql"
    environment:
      PGPASSWORD: admin
    networks:
      - job-finder-app
  spring-boot-service:
    build:
      context: ./spring-boot-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - database
      - redis
    environment:
      JWT_SECRET_FILE: /run/secrets/spring-boot-jwt-secret
      REFRESH_TOKEN_SECRET_FILE: /run/secrets/spring-boot-refresh-token-secret
      REDIS_HOST: redis
      REDIS_PORT: 6379
      APP_SECURITY_PROFILE: prod
    secrets:
      - spring-boot-jwt-secret
      - spring-boot-refresh-token-secret
    networks:
      - job-finder-app
    develop:
      watch:
        - action: sync+restart
          path: ./spring-boot-service
          target: /opt
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - job-finder-app

  website:
    container_name: website
    build:
      context: ./website
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - spring-boot-service
    networks:
      - job-finder-app

networks:
  job-finder-app:
    name: job-finder-app

secrets:
  spring-boot-jwt-secret:
    file: ./secrets/spring-boot-jwt
  spring-boot-refresh-token-secret:
    file: ./secrets/spring-boot-refresh-token

volumes:
  db-volume:
  redis_data: