<img class="background-photo" src="/images/background-photo.jpg" />
<div class="center-window">
  <div class="main-page">
    <div class="download-title">
      Pobierz aplikację:
    </div>
    <div class="download-container">
      <img class="download-elem"
      onClick="window.open('https://www.apple.com/pl/app-store/')"
      src="/images/ios-download.png" />
      <img class="download-elem"
      onClick="window.open('https://play.google.com/store')"
      src="/images/android-download.png" />
    </div>
  </div>
</div>