<div class="footer">
  <div class="footer-description">
    Made by Majami from Gdańsk, Poland. with the support of the University of Gdańsk as bachelor project. <br />
    This site is still developed, if you see any issue or need a contact email us: majami.technology@gmail.com <br />
    © Fuchacz, Maciej Adamski, Jan Gasztold, Mikołaj Kalejta
  </div>
  <div onClick="window.open('https://github.com/jankotanime/job-finder-app')" class="footer-elem">
    <img src="/images/github-icon.png" class="footer-image" alt="Github image" />
    <div class="footer-text">Github</div>
  </div>
  <div class="footer-elem">Strona zewnętrzna</div>
  <div class="footer-elem">Strona zewnętrzna</div>
  <div class="footer-elem">Strona zewnętrzna</div>
</div>