<img class="background-photo" src="/images/background-photo.jpg" />
<div class="center-window">
  <div class="main-page">
    <div class="content-title">
      Czym jest fuchacz?
    </div>
    <div class="content">
      Fuchacz jest aplikacją która ułatwia szukanie pracy i pracowników - jest świetnym wyborem jeżeli szukasz szybkiej pracy,
      która niezobowiązywuje na dłużej, lub potrzebujesz szybkiego wykonania zadania.
      Jest głównie przeznaczony do jednodniowych zleceń, jednak nasz system wspomaga także długoterminowe współprace bez dodatkowych opłat.
    </div>
    <div class="content-title">
      Dlaczego fuchacz?
    </div>
    <div class="content">
      Dzięki prostemu i przyjaznemu interfejsowi zlecenia wymagające szybkiego wykonania stają się od razu wdrożone w ruch.
      Nasza aplikacja sprawdza się nie tylko przy potrzebie skoszenia trawnika lub problemu hydraulitycznego,
      ale także do szybkiego zlecenia w pracy biurowej, korepetycji lub zlecenia w sklepie.
      Wykorzystując zaawansowane środki bezpieczeństwa i automatycznie generowane umowy o dzieło minimalizujemy jakiekolwiek
      próby oszustwa. Dodatkowo nasz zespół chętnie pomaga rozwiązać jakiekolwiek konflikty i incydenty - wszystko po to, aby każdy użytkownik
      wiedział, że może na nas liczyć.
    </div>
    <div class="content-title">
      Nie mam firmy, czy wciąż mogę znaleźć pracownika?
    </div>
    <div class="content">
      Jak najbardziej - nasza aplikacja opiera się na tym, że każdy użytkownik - nieważne czy osoba prywatna czy firma - może wystawić własną
      ofertę. Dzięki systemowi umów o dzieło, każdy użytkownik może w łatwy spsób znaleźć potrzebną mu osobę z prostym zobowiązaniem obu stron
      - wszystko legalnie i bezpiecznie.
    </div>
  </div>
</div>