<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header/header') %>
    <%- include('partials/download/downloadPage') %>
    <%- include('partials/footer/footer') %>
  </body>
</html>