<form class="update-password-page" name="updatePassword" id="updatePassword">
  <input class="update-password-input" id="password" name="password" type="password" placeholder="Enter new password..." />
  <input class="update-password-input" id="repeatPassword" name="repeatPassword" type="password" placeholder="Repeat password..." />
  <button class="update-password-button" type="submit">Set password</button>

  <div class="update-password-error" id="errorPassword"></div>
</form>

<script>
  window.apiUrl = "<%= apiUrl %>";
</script>
<script src="/scripts/updatePasswordScript.js"></script>