<img class="background-photo" src="/images/background-photo.jpg" />
<div class="center-window">
  <div class="main-page">
    <div class="content-title">Nasze licencje</div>
    <div
    onClick="window.open('/licences/OFL.txt')"
    class="licence-elem">
      Lato2OFLWeb - licencja na czcionke
    </div>
  </div>
</div>