<img class="background-photo" src="/images/background-photo.jpg" />
<div class="center-window">
  <div class="main-page">
    <div class="content-title">
      Kontakt ogólny
    </div>
    <div class="content">
      <p>Email: majami.technology@gmail.com</p>
      <p>Telefon: +48</p>
    </div>
    <div class="content-title">
      Kim jesteśmy?
    </div>
    <div class="content">
      <p>Majami jest 3 osobowym zespołem pochodzącym z Gdańska położonego w północnej części Polski.</p>
      <p>Do zespołu należy Maciej Adamski, Jan Gasztold i Mikołaj Kalejta - każdy z nas jest studentem
      Informatyki Praktycznej na Uniwersytecie Gdańskim.</p>
      <p>Nasz zespół opiera się w głównej mierze na tworzeniu aplikacji webowych i mobilnych.</p>
    </div>
  </div>
</div>