<div class="header">
  <a class="nav-download"
  href="/download"
  >Pobierz aplikację</a>
  <a class="title"
  href="/">Fuchacz</a>
  <img class="header-nav" src="/images/list-image.png" />
</div>
<%- include('nav') %>