<div class="nav-hover"></div>
<div class="nav">
  <a class="nav-elem" href="/">
    Strona główna
  </a>
  <a class="nav-elem" href="/download">
  </a>
  <a class="nav-elem" href="/faq">
    FAQ
  </a>
  <a class="nav-elem" href="/about-us">
    O nas
  </a>
  <a class="nav-elem" href="/licences">
    Licencje
  </a>
</div>